$white: #ffffff;
$whiteTransparent: rgba(255,255,255,0);
$pure_black: #000000;
$black: #292a2e;
$blackTwo: #18232E;
$international_orange: #D64300;
$darkOrange:#FE4602;
$whiteSmoke: #F5F5F5;
$LightGray: #d3d3d3;
$tunaColor:#33333A;
$Mirage: #202B3E;
$Gallery: #EFEFEF;
$ironColor: #E1E2E3;
$scorpionColor: #595959;
$gray:#32323B;
$grayThree: #DDD;
$grayFour: #BBB;
$grayFive: #E9E9E9;
$graySix: #32323A;
$graySeven: #EEE;
$grayEight: #F3F3F3;
$grayNine: #d6dbdd;
$grayten: #666;
$grayEleven: #999;
$grayTwelve: #F7F9FA;
$grayThirteen: #626262;
$grayFourteen: #2E343B;
$darkGray: #303030;
$darkGreen:#32323a;
$honeyDew:#f2fff2;
$zambezi: #5f5f5f;
$tunaGrey: #32323a;

$red: #FF6347;
$ColorOne: #02b1e4;
$ColorTwo: rgba(2,177,228,.5);
$ColorThree: #1F3A93;
$ColorFour:#00afd8;
$ColorFive: #F3FBFD;
$ColorSix: #86E2D5;
$boxColor: #5F5F5F;
$base-font-color: $black;
$secondarycolor: #FF4500;
$primarycolor: #1F3A93;
$ColorSeven:#F3FBFD;
$fiord:#4F5A65;
$fiordOpacity10: rgba(79, 90, 101, 0.1);
$ColorEight:#FEFEFE;
$ColorNine: #C4C4C4;
$ColorTen: #1C2530;
$gray13: #CED0D4;
$gray14: #4B5157;
$gray15: rgba(79, 90, 101, 0.1);
$gray16: rgba(79, 90, 101, 0.5);
$ColorEleven:#ea4a0f;
